.hero {
  background-image: "url(../../assets/raphael-school-of-athens.jpeg)";
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// import bootstrap and set the colour scheme, particularly the primary